.flex-apartments {
  display: flex;
  justify-content: space-around;
}

.index-title {
  text-align: center;
  color: grey;
  padding: 50px;
}

.footer {
  text-align: center;
  color: green;
}

.wrapper {
  height: 90vh;
 
}

.welcome-title {
  text-align: center;
  padding-top: 100px;
  color: green;
}